<div class="container">
  <h3>Payment Form</h3>

  <div class="row">
    <div class="form-group col-sm ">
      <label>Payee Name</label>
      <input class="form-control" (input)="onNameChange($event.target.value)" />
    </div>

    <div class="col-4">
      <label>Name</label>
      <div>
        {{name | titlecase }}
      </div>
    </div>
    
  </div>

  <div class="row">
    <div class="form-group col-sm ">
      <label>Patement Date</label>
      <input type="date" class="form-control" (input)="onDateChange($event.target.value)" />
    </div>

    <div class="col-4">
      <label>Date</label>
      <div>
        {{date | date: "MMMM d, y ** LLLL d ---- pepeg " }}
      </div>
    </div>
    
  </div>

  <div class="row">
    <div class="form-group col-sm ">
      <label>Amout</label>
      <input type="text" class="form-control" (input)="onAmoutChange($event.target.value)" />
    </div>

    <div class="col-4">
      <label>Amout</label>
      <div>
        {{amout | currency: 'EUR' }}
      </div>
    </div>
    
  </div>

  <div class="row">
    <div class="form-group col-sm ">
      <label>Height</label>
      <input type="text" class="form-control" (input)="onHeightChange($event.target.value)" />
    </div>

    <div class="col">
      <label>Height</label>
      <div>
        {{height | number: '1.2-4' }}
      </div>
    </div>
  </div>

  <div class="row">
    <div class="form-group col-sm ">
      <label>Miles</label>
      <input type="text" class="form-control" (input)="onMilesChange($event.target.value)" />
    </div>

    <div class="col">
      <label>Kilometers</label>
      <div *ngIf ="(miles | convert: 'km') > 10">
        {{miles | convert: 'km' | number: '1.0-3' }}
      </div>
    </div>
  </div>
    
  
  

</div>

